<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="false" xmlns:log4j='http://jakarta.apache.org/log4j/'>

    <appender name="trace" class="org.apache.log4j.RollingFileAppender">
        <param name="append" value="false" />
        <param name="Threshold" value="trace"/>
        <param name="maxFileSize" value="10MB" />
        <param name="maxBackupIndex" value="10" />
        <param name="file" value="/home/kapila/IdeaProjects/registration_new/registration-trace.log" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
        </layout>
    </appender>

    <appender name="error" class="org.apache.log4j.RollingFileAppender">
        <param name="append" value="false" />
        <param name="Threshold" value="error"/>
        <param name="maxFileSize" value="10MB" />
        <param name="maxBackupIndex" value="10" />
        <param name="file" value="/home/kapila/IdeaProjects/registration_new/registration-error.log" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
        </layout>
    </appender>

    <root>
        <level value="TRACE" />
        <appender-ref ref="trace" />
        <appender-ref ref="error" />
    </root>

</log4j:configuration>